<div class="form-group">
  <div class="form-group">
    <label>
      Selection Debounce <kbn-info info="Allow selecting/de-selecting multiple items before triggering an Elasticsearch data pull. Defined in Milliseconds.">
    </label>
    <input type="number" min="0" class="form-control"
      placeholder="350"
      ng-model="vis.params.selectionDebounce">
  </div>
  <div class="form-group">
    <label>
      Selection Style
    </label>
    <select class="form-control"
      ng-model="vis.params.buttonType">
      <option value="radio">Single (radio)</option>
      <option value="checkbox">Multiple (checkbox)</option>
    </select>
  </div>
  <div class="form-group">
    <label>
      Filter Type
    </label>
    <select class="form-control"
      ng-model="vis.params.filterType">
      <option value="query">Query Bar</option>
      <option value="filter">Filter Bar</option>
    </select>
  </div>
  <div ng-switch on="vis.params.filterType">
    <div ng-switch-when="query">
      <query-list queries="vis.params.luceneQueries" title="'Lucene Queries'"></query-list>
    </div>
    <div ng-switch-when="filter">
      <field-select meta="vis.params.field_meta"></field-select>
      <query-list queries="vis.params.filters" title="'Filter Queries'"></query-list>
    </div>
  </div>

  <div ng-show="vis.params.filterType == 'query'">
  <div form-group">
    <label>
      <input type="checkbox"
        ng-model="vis.params.linked">

      Dynamic Linked Time-Series

      <kbn-info info="When true, this ez-query visualization will dynamically update the linked timelion visualization's expression string to display a time series line for each selected lucene query."></kbn-info>
    </label>
  </div>
  <linked-vis linked-vis="vis.params.linkedVis" ng-show="vis.params.linked"></linked-vis>
  </div>
</div>