<div ng-controller="KbnEzQueryVisController" class="ez-query">

  <div ng-switch on="vis.params.buttonType">
    <div ng-switch-when="radio">
      <div class="form-group" ng-repeat="query in vis.params.luceneQueries" ng-show="query.query && query.name">
        <label>
          <input type="radio" 
          ng-model="$parent.$parent.radioVal" 
          value="{{query.query}}" 
          ng-change="filter()">
          {{query.name}}
        </label>
      </div>
    </div>
    <div ng-switch-when="checkbox">
      <div class="form-group" ng-repeat="query in vis.params.luceneQueries" ng-show="query.query && query.name">
        <label>
          <input type="checkbox" 
          ng-model="$parent.checkboxes[query.name]" 
          ng-change="filter()">
          {{query.name}}
        </label>
      </div>
    </div>
    <div ng-switch-default>
      Unexpected button type
    </div>
  </div>
</div>