<div class="form-group">
  <label>
    Lucene Queries
  </label>
  <ul>
    <li ng-repeat="query in queries" class="input-list">
      <input type="text" ng-model="query.name" placeholder="Display Name">
      <input type="text" ng-model="query.query" placeholder="Lucene Query">
      <div class="btn-group">
        <button class="btn btn-xs btn-danger" ng-click="remove($index)">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </li>
  </ul>
  <button class="btn btn-xs btn-success" ng-click="add()">
    <i class="fa fa-plus"></i>
  </button>
</div>