<div class="form-group">
  <label>
    {{title}}
  </label>
  <ul>
    <li ng-repeat="query in queries" class="input-list">
      <input type="text" ng-model="query.name" placeholder="Display Name">
      <input ng-if="addQuery" type="text" ng-model="query.query" placeholder="Query">
      <div class="btn-group">
        <button class="btn btn-xs btn-danger" ng-click="remove($index)">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </li>
  </ul>
  <button ng-disabled="!addQuery" class="btn btn-xs btn-success" ng-click="add()">
    <i class="fa fa-plus"></i>
  </button>
  <div class="form-group" ng-show="!addQuery">Filters can be added by capturing them from the dashboard</div>
</div>